.clients {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	align-items: center;
	margin-top: 2rem;

	img {
		width: 100%;
	}
}

@media (min-width: 1281px) {
	.clients {
		margin-top: 6rem;
		gap: 2rem;
	}
}
