.heading {
	padding: 2rem 1rem;
	text-align: center;

	&-title {
		margin-bottom: 1rem;
	}

	&-text {
		font-size: 0.95rem;
		margin-bottom: 1rem;
	}
}

@media (min-width: 1281px) {
	.heading {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		text-align: left;
		justify-self: start;

		&-title {
			font-size: 5rem;
			margin-bottom: 2rem;

			span {
				display: block;
			}
		}

		&-text {
			margin-bottom: 4rem;
			font-size: 1.15rem;
			max-width: 480px;
		}
	}

	.learn-more-btn {
		&:hover {
			cursor: pointer;
			background-color: transparent;
			color: $dark-gray;
		}
	}
}
