@media (min-width: 1281px) {
	main {
		max-width: 1280px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: end;
		align-items: center;
	}
}

@media (min-width: 1537px) {
	main {
		max-width: 90%;
	}
}
