@media (min-width: 1080px) {
	main {
		max-width: 1280px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		justify-items: center;
		align-items: center;
	}
}

@media (min-width: 1537px) {
	main {
		max-width: 90%;
	}
}
