menu {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.hamburguer-menu {
		display: block;
	}
}

@media (max-width: 1280px) {
	menu {
		position: absolute;
		height: 100vh;
		width: 100%;
		background-color: $overlay-bg;

		.logo {
			position: absolute;
			top: 1rem;
			left: 1rem;
		}

		nav {
			background-color: $bg-color;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 5rem 1rem;
			width: 100%;
			max-width: 240px;

			li {
				margin: 1rem 0;
			}

			&::after {
				content: "";
				display: block;
				width: 100px;
				height: 100px;
			}
		}

		.login {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
		}

		.hamburguer-menu {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
}

@media (min-width: 1281px) {
	menu {
		padding: 2rem;
		justify-content: stretch;

		nav {
			margin-left: 4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;

			ul {
				display: flex;
				li {
					margin: 0 1rem;
				}
			}
		}

		.hamburguer-menu {
			display: none;
		}
	}
}
