menu {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.overlay {
		display: none;
	}

	.nav-list {
		img {
			margin-left: 0.5rem;
			width: 18px;
		}

		svg {
			margin-left: 0.25rem;
			width: 18px;
			fill: $medium-gray;
		}

		// svg.show {
		// 	display: block;
		// }

		svg.hide {
			display: none;
		}
	}

	.features[data-open="true"] {
		.features-list {
			display: block;
		}
	}

	.features-list {
		display: none;

		li {
			display: flex;
			align-items: center;

			.icon {
				margin-right: 1rem;
				display: flex;
				justify-content: center;
				width: 18px;
				height: 18px;
			}
		}
	}

	.features-link,
	.company-link {
		display: flex;
		align-items: center;
	}

	.company {
		.company-list {
			display: none;
		}
	}

	.company[data-open="true"] {
		.company-list {
			display: block;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@media (max-width: 1080px) {
	menu[data-open="true"] {
		.overlay {
			display: flex;
			position: absolute;
			flex-direction: column;
			align-items: flex-end;
			background-color: $overlay-bg;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			min-height: 100vh;
			overflow-y: scroll;

			nav {
				background-color: $bg-color;
				width: 100%;
				max-width: 65%;
				padding: 4rem 1rem;
				height: calc(100vh + 100vh);
			}

			.nav-list {
				li {
					margin: 1.25rem 0;
				}
			}

			button {
				width: 100%;
			}

			.hamburguer-menu {
				position: absolute;
				top: 100px;
			}

			.close-menu {
				position: absolute;
				top: 1rem;
				right: 1rem;
			}

			.submenu {
				padding: 0.5rem 1.25rem;
			}
		}
	}
}

@media (min-width: 1080px) {
	menu {
		padding: 1.5rem 3rem;

		.overlay {
			display: block;
			flex: 1;
			padding-left: 2rem;
		}

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.nav-list {
			margin-right: auto;
			display: flex;

			li {
				margin: 0 1.5rem;
				cursor: pointer;
			}
		}

		a {
			&:hover {
				color: $dark-gray;
			}
		}

		a ~ svg {
			fill: $medium-gray;
		}

		a:hover > svg {
			fill: $dark-gray;
		}

		.hamburguer-menu,
		.close-menu {
			display: none;
		}

		.submenu {
			padding: 1rem;
			position: absolute;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 20px -4px rgba(0, 0, 0, 0.4);
			width: auto;
		}

		.features {
			position: relative;

			&-list {
				top: 36px;
				right: 0;

				li {
					margin: 0;
					padding: 0.5rem 0;
				}
			}
		}

		.company {
			position: relative;

			&-list {
				top: 36px;

				li {
					padding: 0.5rem;
					margin: 0;
					width: 100%;
					width: 90px;
				}
			}
		}

		.login-btn {
			&:hover {
				cursor: pointer;
				color: $dark-gray;
			}
		}

		.register-btn {
			&:hover {
				cursor: pointer;
				color: $dark-gray;
				border-color: inherit;
			}
		}
	}
}
